.advisor {
    width: 100%;
    margin-top: 10%;

    h1 {
        background-clip: text;
        background: linear-gradient(90deg, rgb(128, 4, 189) 9%, rgb(3, 94, 241) 100%);
        -webkit-background-clip: text;
        color: transparent;
        font-weight: 800;
        font-size: 50px;
        font-family: 'Poppins', sans-serif;
        width: 80%;
        margin: auto;
        margin-bottom: 10%;
        text-align: center;
    }

    .omkar {
        height: auto;
        width: 20%;
        padding: 15px;
        border-radius: 50px;
        margin: auto;
        box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
        text-align: center;

        img {
            margin: 5%;
            width: 70%;
            border-radius: 50%;
        }

        h2 {
            font-size: 25px;
            font-weight: 650;
        }

        p {
            font-size: 14px;
            color: #6D7780;
            ;
            font-family: 'Poppins', sans-serif;

        }

    }
   

    .vivek {
        width: 70%;
        margin: auto;
        height: auto;
        display: flex;
        align-items: center;

        svg {
            width: 100%;
        }

        .viveDetails {
            display: block;
            width: 30%;

            h2 {
                font-size: 30px;
                font-family: 'Poppins', sans-serif;
                color: #354364;
            }

            p {

                font-size: 14px;
                font-family: 'Poppins', sans-serif;
                color: #6D7780;
            }

        }
}}
.massage{padding:5px;
    height: auto;
    width:200px;
    border-radius: 20px;
    border :solid 2px blueviolet;
    background-color: white;
    color:blueviolet
}
.akhil{
 flex-direction: row-reverse;       
}
